.lbi-smaller {
  font-size: 10px;
}

.lbi-smaller-medium {
  font-size: 14px;
}

.lbi-small {
  font-size: 16px;
}

.lbi-medium {
  font-size: 22px;
}

.lbi-medium-big {
  font-size: 25px;
}

.lbi-bigger {
  font-size: 30px;
  margin: 0 5px;
}

.lbi-bigest {
  font-size: 90px;
}

.lbi-logo-big {
  font-size: 150px;
}

.lib-align-middle {
  vertical-align: middle;
  font-weight: 500;
  color: $light-gray;
}
