* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $average_sans;
  line-height: $base-line-height;
}

a {
  text-decoration: none;
  color: $light-gray;
}

ul {
  list-style-type: none;
}

p {
  @include breakpoint(large) {
    font-size: calculateRem(19px);
  }
  @include breakpoint(desktopLarge) {
    font-size: calculateRem(17px);
  }

  margin: 0 auto;
  color: rgba($light-gray, 0.6);
}
