* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: $average_sans;
  line-height: $base-line-height;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
