.large-hero {
  position: relative;
  height: 100vh;

  @include retinaBackground('./assets/images/hero-image', 'jpg');

  background-position: center;
  background-size: cover;
  // background-attachment: fixed;

  &__image {
    display: block;
    object-fit: fill;
    z-index: -5;
  }

  &__logo {
    display: block;
    margin: 0 auto;
    max-width: 50px;
  }

  &__text-content {
    margin-top: $offset10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    text-align: center;
  }

  &__title {
    font-family: $syncopate;
    font-weight: 400;
    letter-spacing: 2;
    color: $white-gray;
    text-transform: uppercase;
    margin-top: $offset5;
    margin-bottom: 0;
    line-height: normal;

    @include breakpoint(large) {
      font-size: calculateRem(65px);
    }
    @include breakpoint(desktopLarge) {
      font-size: calculateRem(55px);
    }
    @include breakpoint(mediumLarge) {
      font-size: calculateRem(45px);
    }
    @include breakpoint(small) {
      font-size: calculateRem(35px);
    }

  }

  &__span {
    font-family: $syncopate;
    font-weight: normal;
    font-size: calculateRem(20px);
    color: $gold;
  }

  &__subtitle {
    @include breakpoint(mediumLarge) {
      font-size: calculateRem(13px);
    }
    font-size: calculateRem(16px);
    color: $light-gray;
  }

  &__buttons {
    margin-top: $offset50;
  }
}
