.page-section {
  @include breakpoint(mediumLarge) {
    padding-top: $offset80;
    padding-bottom: $offset80;
  }
  padding-top: $offset100;
  padding-bottom: $offset100;
  color: $light-gray;
  text-align: center;

  &:nth-child(odd) {
    background-color: $lighter-background;
  }

  &:nth-child(even) {
    background-color: $darker-background;
  }

  &:last-child {
    padding-bottom: $offset50;
  }

  &__title {
    font-family: $syncopate;
    font-size: calculateRem(30px);
    text-transform: uppercase;
    margin-bottom: $offset30;
  }

  &__subtitle {
    font-family: $syncopate;
    font-size: calculateRem(16px);
    text-transform: uppercase;
    color: $gold;
    font-weight: normal;
  }


}
