.page-section {
  @include breakpoint(mediumLarge) {
    padding-top: $offset100;
    padding-bottom: $offset100;
  }
  padding-top: 130px;
  padding-bottom: 130px;
  color: $light-gray;
  text-align: center;

  &:nth-child(odd) {
    background-color: $lighter-background;
  }

  &:nth-child(even) {
    background-color: $darker-background;
  }

  &:last-child {
    padding-bottom: $offset70;
  }

  &__title {
    @include breakpoint(desktopLarge) {
      font-size: calculateRem(35px);
    }
    @include breakpoint(mediumLarge) {
      font-size: calculateRem(30px);
    }
    font-family: $syncopate;
    font-size: calculateRem(40px);
    text-transform: uppercase;
    margin-bottom: $offset30;

    &--not-found {
      @include breakpoint(desktopLarge) {
        font-size: calculateRem(25px);
      }
      @include breakpoint(mediumLarge) {
        font-size: calculateRem(20px);
      }

      font-size: calculateRem(30px);
    }
  }

  &__subtitle {
    font-family: $syncopate;
    font-size: calculateRem(16px);
    text-transform: uppercase;
    color: $gold;
    font-weight: normal;
  }

  &__not-found {
    height: 100vh;

    @include retinaBackground('./assets/images/hero-image', 'jpg');

    background-position: center;
    background-size: cover;
    // background-attachment: fixed;
  }


}
