.nav-nav {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%; /* Full width */
}

.primary-nav {
  height: 55px;
  background-color: rgba(0, 0, 0, 0.6);

  &--is-expanded {
    height: auto;
    background-color: rgba(0, 0, 0, 0.9) !important;
  }
}

.menu-menu-1-container {
  display: inline-block;
  width: 90%;
  margin: 0 auto;
  ul {
    width: 100%;
    display: table;
    li {
      @include breakpoint(mediumLarge) {
        display: block;
      }
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      a {
        color: $light-gray;
        font-family: $syncopate;
        font-weight: normal;
        font-size: calculateRem(14px);
        text-transform: uppercase;
        line-height: 3.7;

        &:hover {
          color: $gold;
        }

        &.is-current-link {
          color: $gold;
        }
      }
    }
  }

  @include breakpoint(mediumLarge) {
    display: none;
  }

  &--is-visible {
    display: block;
    margin-bottom: 10px;
  }
}

.toggle-nav {
  display: none;
  @include breakpoint(mediumLarge) {
    display: inline-block;
    margin: 10px 0 10px 5px;
    width: 27px;
    float: right;

    &__line, &::before, &::after {
      background-color: $gold;
      border-radius: 3px;
      content: '';
      display: block;
      height: 3px;
      margin: 5px 0;
      transition: all .2s ease-out;
      }

      &::before {
        transform-origin: 0 0;
      }

      &__line {
        transform-origin: 0 50%;
      }

      &::after {
        transform-origin: 0 100%;
      }
  }

  &--close-x {
    &::before {
      transform: translateY(3px) rotate(45deg);
    }

    &::after {
      transform: translateY(5px) rotate(-45deg);
    }

    .toggle-nav__line {
      transform: scale(0);
    }
  }
}
