.team-profile {
  @include breakpoint(large) {
    width: 60%;
  }
  @include breakpoint(desktopLarge) {
    width: 80%;
  }
  @include breakpoint(mediumLarge) {
    width: 100%;
    padding-top: 65px;
  }
  padding-top: 100px;
  margin: 0 auto;

  &__wrap {
    @include breakpoint(mediumLarge) {
      width: 100%;
      margin-bottom: $offset70;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
    width: (100% / 3) - 1;
    display: inline-block;
    position: relative;
  }

  &__image {
    @include breakpoint(large) {
      width: 75%;
      margin-bottom: $offset20;
    }
    @include breakpoint(desktopLarge) {
      width: 80%;
      margin-bottom: $offset20;
    }
    @include breakpoint(mediumLarge) {
      width: 40%;
    }
    @include breakpoint(small) {
      width: 50%;
    }
    @include breakpoint(extrasmall) {
      width: 60%;
    }
    border-radius: 50%;


    &--top {

    }

    &--bottom {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 3;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__name {
    font-family: $syncopate;
    font-size: calculateRem(15px);
    line-height: 1.1;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: $light-gray;
  }

  &__position {
    text-transform: uppercase;
    font-size: calculateRem(13px);
    color: $gold;
    letter-spacing: 1.2px;
    margin-bottom: $offset15;
  }

  &__social {
    margin: 3px;
  }
}
